.block-views-blockslideshow-block-1 {
  border: 2px solid #bdcad8;
  background-color: #f2f4f8;
}
.block-views-blockslideshow-block-1 a {
  text-decoration: none;
}
.block-views-blockslideshow-block-1 a.edit-link {
  text-decoration: underline;
}
.block-views-blockslideshow-block-1 .carousel-item a:focus {
  border: 3px solid #f2f4f8;
  display: block;
}
.block-views-blockslideshow-block-1 .carousel-item a:hover {
  color: #337ab7;
}
.block-views-blockslideshow-block-1 .carousel-item a .img-responsive:focus,
.block-views-blockslideshow-block-1 .carousel-item a .carousel-text:focus {
  outline: 3px solid #f2f4f8;
}
.block-views-blockslideshow-block-1 .carousel-text {
  text-align: right;
}
.block-views-blockslideshow-block-1 .carousel-text span.carousel-title {
  text-align: right;
  padding-bottom: 10px;
  border-bottom: 2px solid #bdcad8;
  display: block;
}
@media screen and (min-width: 320px) {
  .block-views-blockslideshow-block-1 .carousel-text span.carousel-title {
    font-size: 18px;
    font-size: 1.8rem;
    margin-top: 8rem;
  }
}
@media screen and (min-width: 768px) {
  .block-views-blockslideshow-block-1 .carousel-text span.carousel-title {
    font-size: 24px;
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 1200px) {
  .block-views-blockslideshow-block-1 .carousel-text span.carousel-title {
    margin-top: 8rem;
  }
}
@media screen and (max-width: 992px) {
  .block-views-blockslideshow-block-1 .carousel-text {
    height: 275px;
    margin-top: 2rem;
  }
}
.block-views-blockslideshow-block-1 .carousel-control-prev,
.block-views-blockslideshow-block-1 .carousel-control-next {
  background-color: #002a5c;
  color: #fff;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  width: 45px;
  height: 45px;
  border: 3px solid #002a5c;
  opacity: 1;
}
@media screen and (min-width: 320px) {
  .block-views-blockslideshow-block-1 .carousel-control-prev,
  .block-views-blockslideshow-block-1 .carousel-control-next {
    top: -430px;
  }
}
@media screen and (min-width: 768px) {
  .block-views-blockslideshow-block-1 .carousel-control-prev,
  .block-views-blockslideshow-block-1 .carousel-control-next {
    top: -510px;
  }
}
@media screen and (min-width: 992px) {
  .block-views-blockslideshow-block-1 .carousel-control-prev,
  .block-views-blockslideshow-block-1 .carousel-control-next {
    top: -224px;
  }
}
.block-views-blockslideshow-block-1 .carousel-control-prev:focus,
.block-views-blockslideshow-block-1 .carousel-control-next:focus {
  border-color: #337ab7;
}
.block-views-blockslideshow-block-1 .carousel-control-prev {
  left: 25px;
}
.block-views-blockslideshow-block-1
  .carousel-control-prev
  .carousel-control-prev-icon {
  background-image: none;
  width: auto;
  height: auto;
}
.block-views-blockslideshow-block-1
  .carousel-control-prev
  .carousel-control-prev-icon:after {
  font-family: "fontAwesome";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-size: 35px;
  font-size: 3.5rem;
  content: "\f104";
  color: #fff;
  padding-right: 4px;
}
.block-views-blockslideshow-block-1 .carousel-control-next {
  right: 25px;
}
.block-views-blockslideshow-block-1
  .carousel-control-next
  .carousel-control-next-icon {
  background-image: none;
  width: auto;
  height: auto;
}
.block-views-blockslideshow-block-1
  .carousel-control-next
  .carousel-control-next-icon:after {
  font-family: "fontAwesome";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-size: 35px;
  font-size: 3.5rem;
  content: "\f105";
  color: #fff;
  padding-left: 3px;
}
.block-views-blockslideshow-block-1 .carousel-indicators {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  position: relative;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media screen and (min-width: 576px) {
  .block-views-blockslideshow-block-1 .carousel-indicators {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .block-views-blockslideshow-block-1 .carousel-indicators {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .block-views-blockslideshow-block-1 .carousel-indicators {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .block-views-blockslideshow-block-1 .carousel-indicators {
    max-width: 1140px;
  }
}
@media screen and (max-width: 768px) {
  .block-views-blockslideshow-block-1 .carousel-indicators {
    position: absolute;
    bottom: 220px;
  }
}
.block-views-blockslideshow-block-1 .carousel-indicators a {
  color: #fff;
  position: relative;
  display: block;
  font-size: 20px;
  font-size: 2rem;
}
.block-views-blockslideshow-block-1 .carousel-indicators li {
  padding: 0.35rem;
  background-color: #002a5c;
  border: 2px solid #fff;
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 40px;
  height: 40px;
  text-indent: 1px;
  text-align: center;
}
.block-views-blockslideshow-block-1 .carousel-indicators li:hover {
  border-color: #337ab7;
}
.block-views-blockslideshow-block-1 .carousel-indicators li.active {
  background-color: #dae1e9;
  border-color: #002a5c;
}
.block-views-blockslideshow-block-1 .carousel-indicators li.active a {
  color: #002a5c;
}
.block-views-blockslideshow-block-1 #play-pause-btn {
  margin-top: 1rem;
  z-index: 16;
  position: absolute;
  outline: none;
}
@media screen and (max-width: 768px) {
  .block-views-blockslideshow-block-1 #play-pause-btn {
    left: 1.1rem;
    bottom: 222px;
  }
}
.block-views-blockslideshow-block-1 .isPaused,
.block-views-blockslideshow-block-1 .isPlaying {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 0.5rem;
  background-color: #002a5c;
  position: relative;
  width: 40px;
  height: 40px;
  color: transparent;
  border: 2px solid #fff;
}
.block-views-blockslideshow-block-1 .isPaused:hover,
.block-views-blockslideshow-block-1 .isPlaying:hover {
  border-color: #337ab7;
}
.block-views-blockslideshow-block-1 .isPaused:before,
.block-views-blockslideshow-block-1 .isPlaying:before {
  padding-left: 0.5rem;
}
.block-views-blockslideshow-block-1 .isPaused:before {
  font-family: "fontAwesome";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-size: 18px;
  font-size: 1.8rem;
  content: "\f04b";
  color: #fff;
}
.block-views-blockslideshow-block-1 .isPlaying:before {
  font-family: "fontAwesome";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-size: 18px;
  font-size: 1.8rem;
  content: "\f04c";
  color: #fff;
}
